<% include _header %>

<h1>Customers Page</h1>

<% customers.forEach(function(customer) { %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="api/customers/<%= customer.id %>">
        <%= customer.first_name + " "+ customer.last_name %>
      </a>
    </div>
  
    <div class="panel-body"><%= customer.email %></div>
  
  </div>

<% }) %>


<% include _footer %>
